.battleground {
  overflow-y: auto;
  height: calc(100vh - 30%);
}

.bg-board-container {
  display: flex;
  flex-direction: row;
}

.bg-board {
  background-image: url("./../resources/grass.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bg-board-tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bg-top-options {
  height: 50px;
}

.bg-bottom-options {
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px 0px,
    inset rgb(27 31 35 / 15%) -5px 5px 6px 8px;
  position: absolute;
  bottom: calc(100vh - 85%);
  height: 45px;
  width: 100%;
}

@media (min-height: 400px) {
  .bg-board-container {
    height: 100%;
  }
}
