.tile-clickable {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.tile-clickable::before {
  transition: 0.5s;
  transform: scale(0.9);
}

.tile-clickable:hover {
  color: #38e902;
  box-shadow: 0 0 5px #38e902;
  text-shadow: 0 0 5px #38e902;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.tile-clickable:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #38e902;
}

.tile-unit-miss {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-image: url("./../resources/miss.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.tile-unit-destroyed {
  background-image: url("./../resources/aiTankDestroyed.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 992px) {
  .tile-clickable,
  .tile-unit-miss,
  .tile-unit-destroyed {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
