.howTo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  background-color: rgba(30, 46, 75, 0.9);
  height: 80%;
}

.howTo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
}

.howTo-corner {
  width: 250px;
}

.img-board {
  background-image: url("./../resources/howto_board.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 150px;
}

.img-board-destroy {
  background-image: url("./../resources/howto_destroy.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}
