.howTo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  background-color: rgba(30, 46, 75, 0.9);
  height: 100%;
  padding-top: 5px;
}

.howTo-content {
  overflow-y: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.img-board {
  background-image: url("./../resources/howto_board.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
}

.img-board-destroy {
  background-image: url("./../resources/howto_destroy.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}
