.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 350px;
  height: 250px;
  display: block;
  border-radius: 10px;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%;
  left: 70%;
  background: linear-gradient(rgb(0, 0, 0), rgb(26, 38, 60));
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -130px;
  opacity: 1;
}

.head {
  height: 32px;
  overflow: hidden;
  background: linear-gradient(rgb(26, 38, 60), rgb(0, 0, 0));
  color: white;
  text-align: center;
  font-size: larger;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}

.content {
  padding: 5%;
}

.score-resume {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: #ffffff;
}

.score-resume-content-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.score-resume-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.score-resume-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.score-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.score-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
